.search {
  text-align: center;
  /*background-color: blue;*/
  background-color: #92B4F4;
  color:white;
  border-radius: 10px;
  padding-top: 40px;
}

.search_button{
  text-align: center;
  margin: 10px;
}

.results{
  width:100%;
  height:400px;
  overflow-y: scroll;
}

#resultText{
  color:#4472CA;
}
